/*botones general todas las páginas*/

.botones {
    font-family: $tipografia-general;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;

    .botonServicios {
        background-color: map-get($boton, background-color);
        margin: map-get($boton, margin);
        padding: map-get($boton, padding);
        border: map-get($boton, border);
        border-radius: map-get($boton, border-radius);
    }

    .botonProductos {
        background-color: map-get($boton, background-color);
        margin: map-get($boton, margin);
        padding: map-get($boton, padding);
        border: map-get($boton, border);
        border-radius: map-get($boton, border-radius);
    }
}

    .btn-primary:hover {
        color: rgba(91, 91, 126, 0.815);
        background-color: #9fbce7bd;
    }