.fondoCardServ1 {
    background-image: url(../assets/images/medicionVisual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.514);
    background-blend-mode: soft-light;
}

.fondoCardServ2 {
    background-image: url(../assets/images/audiometria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.514);
    background-blend-mode: soft-light;
}