.error {
    font-size:$font-size-larger;
    font-weight: $font-weight-bold;
  }
  
  .msjvolver {
    font-size: $font-size-larger;
    font-weight: $font-weight-bold;
    font-style: $font-style-italic;
    text-align: $text-align-center;
  }
