/*estiloMain1 se repite en todas las pages (páginas secundarias al index)*/

.estiloMain1 {
    padding: $padding-3x100;
    font-family: $tipografia-general;
    font-size: $font-size-medium;
    text-align: $text-align-justify;

    .titulo {
        font-family: $tipografia-general;
        font-size: 2rem;
        font-style: $font-style-italic;
        font-weight: $font-weight-bold;
    }

    .subtitulo {
        font-family: $tipografia-general;
        padding: $padding-3x100;
    }
}

.pieFoto {
    font-family: $tipografia-general;
    font-size: $font-size-small;
}
