/*etilos fuente*/
$tipografia-general: 'Montserrat', sans-serif;
$font-size-medium: medium;
$font-size-small: small;
$font-size-large: large;
$font-weight-bold: bold;
$font-style-italic: italic;

/*alineción texto*/
$text-align-center: center;
$text-align-justify: justify;

/*paddings*/
$padding-1x100: 1%;
$padding-1rem: 1rem;
$padding-3x100: 3%;
